#container-search{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
 }
 
.search-form {
    background: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.search-form h2 {
    font-size: 1.5em;
    color: gray;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.form-group input {
    
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}


.search-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.search-btn:hover {
    background-color: #0056b3;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

}

.teaching-plan {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.plan-title {
    font-size: 1em;
    margin-bottom: 5px;
    color: #0b0c0c;
}

.plan-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.plan-info div {
    flex: 1 1 30%;
    margin-right: 10px;
    font-size: 0.95em;
}

.plan-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}

.download-btn {
    background-color: #28a745;
    color: #ffffff;
}

.download-btn:hover {
    background-color: #218838;
}

.details-btn {
    background-color: #007bff;
    color: #ffffff;
}

.details-btn:hover {
    background-color: #0056b3;
}

#results{
    margin-top: 20px;
}

.plan-public{
    font-style: italic;
    font-size: 0.8rem;
}